<html>
<head>
</head>
<body>
<div class="header">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <h3 style="text-align: center">CURRICULUM VITAE OF</h3>
  <h3 style="text-align: center">MXOLISI NKOSINATHI NENE</h3>
  </div>
  <img src="1wlas.jpg" alt="Paris" width="200" height="200">
  <h2 class="zx">PROFILE</h2>
  <div class="dropdown">
      <span class="">.</span>           
      <div class="dropdown-content">
        <pre>
  <span class="nm">Contact</span><span class="nm">Details</span>


<i class="fa fa-envelope"> </i>nenenkosi@gmail.com                                          Nene
<i class="fa fa-phone"></i>  084 081 7484 / 071 676 0495                               Mxolisi Nkosinathi
<i class="fa fa-map-marker"></i>   4419 Mount McKinley Lenasia South ext.4          1994- 09-04
                                                                                   9409045750084
                                                                                   South African
                                                                                   English, IsiXhosa,IsiZulu
	  
      </pre>
      </div>

<h2 class="zx">EDUCATIONAL QUALIFICATION</h2>
<div class="eq">
    <span class="">.</span>
    <div class="eq1">
      <pre>

Lenasia South Secondary School
Grade 12 (Matric)
2012 <br> <hr>           
Central Johannesburg College
IT Essentials certificate PC Hardware and Software  
2013 Jan-June <br> <hr>
Central Johannesburg College
CCNA 1-4 (CISCO) Designing and Supporting Computer 
Networks
2014 Apr-June <br> <hr>
University of South Africa
Adult Basic Education and Training (Higher certificate)
2016-2017 <br> <hr>                                          
University of South Africa (UNISA)
Postgraduate Certificate in Education (Senior Phase)
Visual Programming I - Python programming - INF1511 
Introduction to Business Information Systems - INF1505
Introduction to Business Information Systems - INF1505
2017 to date	   
	  </pre> 
</div>
<h2 class="zx">WORKING EXPERIENCE</h2>
<div class="r">
    <span class="">.</span>
    <div class="r1">
      <pre>

     Merchandiser                                               Price Controller
     Working in the till                                         Checking prices 
     Helping customs around the store               Data capturing 
                                                                          Logging calls to PNP head office <br> <hr>
     Receiving                                                     Assistance Manager
     Receiving stock                                           Dail running of the store
     Capturing invoices on delivery
     Capturing end of day report 
     </pre>
    </div>
<h2 class="zx">REFERENCE</h2>
<div class="r">
    <span class="">.</span>
    <div class="r1">
      <pre>
     
<i class="fa fa-female"></i> Mrs Green ( High School )                 <i class="fa fa-female"></i> Patricia
<i class="fa fa-briefcase"></i> Teacher                                             <i class="fa fa-briefcase"></i> Teacher
<i class="fa fa-phone"></i> 011 855 1503                                     <i class="fa fa-phone"></i> 011 855 0378 <br> <hr>
<i class="fa fa-female"></i> Miss Moyo                                          <i class="fa fa-male"></i> Themba
<i class="fa fa-briefcase"></i> Teacher (cjc)                                     <i class="fa fa-briefcase"></i> Receiving manager 
<i class="fa fa-phone"></i> 076 699 2339                                     <i class="fa fa-phone"></i> 078 316 1543
</pre>
</div>
<footer>
  <p>Done by: Mxolis Nkosinathi; &copy; Nene </p>
</footer>